
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card {
     display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    border-radius: 24px;
    padding: 25px;
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-radius: 24px 24px 0 0;
    background: linear-gradient(135deg, rgb(76, 76, 179) , rgb(54, 54, 130));
}
.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(76, 76, 179) ;
    padding: 3px;
    margin-bottom: 10px;

}
.image .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}
.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name {
    font-size: 24px;
    font-weight: 500;
}
.text-data .job {
    font-size: 16px;
    font-weight: 400;
}
.link{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px;
  border-radius: 20px;
}
.media-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}   
.buttons .button{
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 10px;
    background-color: rgb(76, 76, 179);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons .button:hover{
    background-color: rgb(54, 54, 130);
}