@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
 
    
}
section::before{
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #535d8a, #80749b);
    border-radius: 50%;
    transform: translate(-150px,-100px);
}
section::after{
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #535d8a, #80749b);
    border-radius: 50%;
    transform: translate(150px,100px);
}
.container{
    position: relative;
    width: 375px;
    height: 225px;
    z-index: 100;
    transition: 0.6s;
    transform-style:preserve-3d ;
}
.container:hover{
    transform: rotateY(180deg);
}
.container .card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    position: absolute;
    backface-visibility: hidden;
    transform-style:preserve-3d ;

}
.front-face{
    backface-visibility: hidden;
}
.front-face header , .front-face .logo{
display: flex;
align-items: center;
}
.front-face header{
    justify-content: space-between;
}
 .image-logo{
    width: 48px;
   margin-right: 10px; ;

}
h5{
    font-size: 16px;
    font-weight:400;
}
.image-chip{
    width: 50px;
    height: 40px;
}
.front-face .card-details{
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
h6{
    font-size: 10px;
    font-weight: 400;

}
h5.number{
    font-size: 18px;
    letter-spacing: 1px;

}
h5.name{
  margin-top: 20px;
}

.card.back-face{
border: none;
padding: 15px 25px 25px 25px ;
transform: rotateY(180deg);
backface-visibility: hidden;

}
.card.back-face h6{
    font-size: 8px;

}
.card.card .maginetic-strip{
    position: absolute;
    height: 45px;
    width: 100%;
    background: #000;
    top: 40px;
    left: 0;
}
  .card.back-face .sginature{
    margin-top: 80px;
    height: 40px;
    width: 85%;
    background:repeating-linear-gradient(#fff ,#fff 3px,#efefef 0px,#efefef 9px) ;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sginature i{
    color: #000;
    font-size: 12px;
    margin-right: -30px;
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    z-index: -1px;
}
.card .back-face h5{
    font-size: 8px;
    margin-top: 15px;

}