*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    
    
}

.hero{
    height: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: beige;

}
.hero h1{
    margin: 20px;
    padding: 20px;
    font-size: 5rem;
    font-weight: 100; 
}
h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(202, 6, 104);
    padding: 30px;
    margin: 20px;
}
.timebox{
    display: flex;
    gap: 50px;
}
.time{
    text-align: center;

}
.time h2{
    font-size: 5rem;
    font-weight: 100;
}
body{
    background-image: url(/images/imgTimer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}