body{
    background-color: rgb(248, 233, 214);
    font-family:  Helvetica, sans-serif;
}
.container{
    background-color: aliceblue;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(rgb(230, 194, 194));
    border-radius: 10px;
}
h1{
color: brown;
font-size: large;
font-family: cursive;
}
p{
 color: rgb(117, 228, 228);
 font-size: medium;  
 font-family:monospace; 
 font-weight: bold;
 font-style:italic;
}