*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(#1d9dc4,#d3cee9 50%,#ffffff 50%);

}
.container{
    background-color: #a0b7c7;
    width: 90vw;
    font-size: 16px;
    max-width: 28em ;
    padding: 3em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3.2em rgba(1,3,29,0.2em);
    border-radius: 0.6em;
    color: #8476be;

}
h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
    color: #8476be;
}
.input-wrapper{
    display: block;
    width: 100%;
    font-size: 1.35em;
    padding: 0.4em;
    border: 1px solid #757171;
    border-radius: 0.2em;

}
.input-wrapper label{
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.25em;
}
.input-wrapper:not(:last-child){
    margin-bottom: 1.2em;
}
@media screen and(max-width:280px) {
    .container{
        font-size: 14px;
    }
}